.header{
	color: #fff;
	background-color: #394e79;
	padding: 10px;
}

.header h3{
	font-size: 20px;

}

.header h3 i{
	margin-right: 10px;
	font-size: 30px;
}

.my-form{
	padding: 20px;
}

form > div{
	margin: 15px 0;
}


form input[type='submit']{
	margin-top: 10px;
}


#result{
	padding: 30px 0;
	min-height: 150px;
}

.container{
	max-width: 500px;
}

.footer{
	font-size: 11px;
	padding-top: 50px;
}